<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTeacherHome</servlet-name>
        <servlet-class>controller.teacher.LoadTeacherHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KidProfile</servlet-name>
        <servlet-class>controller.teacher.KidProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInforPage</servlet-name>
        <servlet-class>controller.teacher.StudentInforPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackServlet</servlet-name>
        <servlet-class>controller.teacher.feedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendanceServlet</servlet-name>
        <servlet-class>controller.teacher.attendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scheduleServlet</servlet-name>
        <servlet-class>controller.teacher.scheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOutServlet</servlet-name>
        <servlet-class>controller.teacher.checkOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendacePastServlet</servlet-name>
        <servlet-class>controller.teacher.CheckAttendacePastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterStudentServlet</servlet-name>
        <servlet-class>controller.teacher.FilterStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTeacherHome</servlet-name>
        <url-pattern>/loadteacherhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KidProfile</servlet-name>
        <url-pattern>/kidprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInforPage</servlet-name>
        <url-pattern>/studentinfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackServlet</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendanceServlet</servlet-name>
        <url-pattern>/attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scheduleServlet</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendacePastServlet</servlet-name>
        <url-pattern>/checkattendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterStudentServlet</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
