:root {
    --primary-border-color: #757575;
    --present-color: #36AE7C;
    --absent-color: #EB5353;
}

.attendence-section {
    width: 74%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 30px;
}

.attendence-section table {
    width: 686px;
    height: 257px;
    border-collapse: separate;
    border-radius: 1em;
    border: 1px solid var(--primary-border-color);
    border-spacing: 0;
    background-color: #D9D9D9;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #777777;
}

td {
    border-right: 1px solid var(--primary-border-color);
    border-spacing: 0;
    border-bottom: 1px solid var(--primary-border-color);
}

tr:first-child td:nth-child(1) {
    border-top-left-radius: 1em;
}

tr:nth-child(6) td:first-child {
    border-bottom-left-radius: 1em;
}

tr:first-child td:nth-child(6) {
    border-top-right-radius: 1em;
}

tr:nth-child(6) td:nth-child(6) {
    border-bottom-right-radius: 1em;
}

td:nth-child(6) {
    border-right: none;
}

th,
td {
    padding: 1em;
    text-align: center;
    vertical-align: top;
    /* border-left: 1px solid #ddd; */
}

.present {
    background-color: var(--present-color)!important;
    color: #fff!important;
}

.absent {
    background-color: var(--absent-color)!important;
    color: #fff!important;
}